<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DowChemicals.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DowChemicals.My.MySettings.empConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\emp.accdb&quot;;Jet OLEDB:Database Password =&quot;testpassword&quot; ;" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DowChemicals.My.MySettings>
            <setting name="pass" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="Filelist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RTM for DT 230 ACT  CCT nozzle cleaning</string>
                        <string>RTM for DT 230, Ammonia &amp; Biocide nozzle cleaning</string>
                        <string>RTM for DT 230, C2 nozzle cleaning</string>
                        <string>RTM for DT 230, DTP3 &amp; MAT nozzle cleaning</string>
                        <string>RTM for DT 230, LT &amp; RTD cleaning</string>
                        <string>RTM for DT 230, Sample point &amp; Rework line nozzle cleaning</string>
                        <string>RTM for T-1 DT 430 Nozzle LT RTD cleaning</string>
                        <string>RTM for T-1 MAT-1 confined space entry</string>
                        <string>RTM for T1 new C2 nozzle &amp; AOD pump inspection</string>
                        <string>RTM for T1 old C2 nozzle &amp; AOD pump inspection</string>
                        <string>RTM for T1 RXR 401 confined space entry</string>
                        <string>RTM for C2 226 RXR Top and Bottom nozzle inspection</string>
                        <string>RTM for C2 239 RXR Top and Bottom nozzle inspection</string>
                        <string>RTM for RXR to DT 230 transfer line inspection</string>
                        <string>RTM for RXR to DT 429 transfer line inspection</string>
                        <string>RTM for T-1 DT 430 Confine space entry</string>
                        <string>RTM for T-1 MAT-2 confined space entry</string>
                        <string>RTM for T-2 DT 230 - VPRV &amp; FA and it's associates lines inspection</string>
                        <string>RTM for T-2 DT 429 - VPRV &amp; FA and it's associates lines inspection</string>
                        <string>RTM for T-2 MT-1 - VPRV &amp; FA and it's associates lines inspection</string>
                        <string>RTM for T-2 MT-2 - VPRV &amp; FA and it's associates lines inspection</string>
                        <string>RTM for T-2 RXR - VPRV &amp; FA and it's associates lines inspection</string>
                        <string>RTM for T2 RXR co-feed nozzle cleaning (RCV201-007)</string>
                        <string>RTM for T-2 RXR CST nozzle cleaning</string>
                        <string>RTM for T-2 RXR LT &amp; RTD cleaning</string>
                        <string>RTM of DT 429 ACT &amp; CCT nozzle cleaning</string>
                        <string>RTM of DT 429 Ammonia &amp; Biocide nozzle cleaning</string>
                        <string>RTM of DT 429 LT &amp; RTD cleaning</string>
                        <string>RTM of DT 429 Sample point &amp; Rework point nozzle cleaning</string>
                        <string>RTM of DT 429 confined space entry</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="adminusername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="equipment" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DT 230</string>
                        <string>DT 429</string>
                        <string>DT 430</string>
                        <string>RXR</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="rtmpath" serializeAs="String">
                <value>C:\Users\ashwi\Desktop\Dow Chemicals International\</value>
            </setting>
            <setting name="savepath" serializeAs="String">
                <value>C:\Users\ashwi\Desktop\Dow Chemicals International\</value>
            </setting>
        </DowChemicals.My.MySettings>
    </userSettings>
</configuration>
