<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DowChemicals.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DowChemicals.My.MySettings.empConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\emp.accdb&quot;;Jet OLEDB:Database Password =&quot;testpassword&quot; ;"
            providerName="System.Data.OleDb" />
        <add name="DowChemicals.My.MySettings.adminconnectionstring"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\admin.accdb&quot;;Jet OLEDB:Database Password =&quot;testpassword&quot; ;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <DowChemicals.My.MySettings>
            <setting name="pass" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="adminusername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="equipment" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DT 230</string>
                        <string>DT 429</string>
                        <string>DT 430</string>
                        <string>RXR 401</string>
                        <string>C2 226</string>
                        <string>C2 239</string>
                        <string>RXR</string>
                        <string>MAT-1</string>
                        <string>MAT-2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="rtmpath" serializeAs="String">
                <value>\\in048ndowd001\TALOJA_ODMS\Data\DCM\DCM RTM list\</value>
            </setting>
            <setting name="savepath" serializeAs="String">
                <value>\\in048ndowd001\TALOJA_ODMS\Data\DCM\DCM RTM list\</value>
            </setting>
            <setting name="firstime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dbpath" serializeAs="String">
                <value>\\in048ndowd001\TALOJA_ODMS\Data\DCM\DCM RTM list\</value>
            </setting>
        </DowChemicals.My.MySettings>
    </userSettings>
</configuration>
